@tailwind base;
@tailwind components;
@tailwind utilities;

html{
height: 100%;
}

body{
  min-height: 100%;

}



html,
body {
  background: rgb(79, 70, 229);
  background: linear-gradient(
    45deg,
    rgba(79, 70, 229) 0%,
    rgb(170, 84, 219) 50%,
    rgba(167, 139, 250) 100%
  );
  animation: aurora 20s  infinite;
  background-size: 200%;
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}


h1, h2, h3, h4, h5, h6{
font-family: 'Great Vibes', cursive;
}

a, span, button, div, input, select, option{
    font-family: 'Oswald', sans-serif;
}


